.nav {
    width: 950px;
    height: 80px;
    background-color: rgb(44, 45, 45);
    color: white;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.nav-links {
    width: 500px;
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a {
    color: white;
    text-decoration: none;
}

.btn {
    width: 80px;
    height: 30px;
    border: none;
    background-color: royalblue;
    box-shadow: 3px 3px black;

}
